<%- include('./include/head') %>
  <%- include('./include/header') %>
  <%- include('./layout/add_btn') %> 
  <main class="container">
     <div class="row">
       <div class="col s12 m8">
         <h3><%= story.title %>
          <small><%- editIcon(story.user, user, story._id, false) %></small>
        </h3>
        <div class="card story">
          <div class="card-content">
            <span class="card-title"><%- moment(story.createdAt).format('DD MMMM YYYY, kk:mm:ss') %> </span>
            <%- story.body %> 
          </div>
        </div>
       </div>
       <div class="col s12 m4">
         <div class="card center-align">
           <div class="card-content">
             <span class="card-title"><%= story.user.displayName %> </span>
             <img src="<%= story.user.image %>" alt="avatar" class="circle responsive-img img-small">
           </div>
           <div class="card-action">
             <a href="/stories/user/<%= story.user._id %>">More From <%= story.user.firstName %></a>
           </div>
         </div>
       </div>
     </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    M.Sidenav.init(document.querySelector('.sidenav'))    
  </script>
 </body>
</html>